@model UniFlowSn.Models.Db.Menu

@{
    ViewData["Title"] = "Excluir Menu";
}

<div class="container mt-5">
    <h1 class="mb-4"><i class="bi bi-trash-fill text-danger me-2"></i> Excluir Menu</h1>

    <div class="card shadow-sm rounded">
        <div class="card-body p-4">
            <h4 class="card-title mb-4 text-danger"><i class="bi bi-exclamation-triangle-fill me-2"></i> Tem certeza de que deseja excluir este menu?</h4>
            <dl class="row">
                <dt class="col-sm-3"><i class="bi bi-text-left me-2"></i> @Html.DisplayNameFor(model => model.MenuTitle)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.MenuTitle)</dd>

                <dt class="col-sm-3"><i class="bi bi-link-45deg me-2"></i> @Html.DisplayNameFor(model => model.Link)</dt>
                <dd class="col-sm-9"><a href="@Model.Link" target="_blank" rel="noopener noreferrer">@Html.DisplayFor(model => model.Link)</a></dd>

                <dt class="col-sm-3"><i class="bi bi-tag-fill me-2"></i> @Html.DisplayNameFor(model => model.Type)</dt>
                <dd class="col-sm-9"><span class="badge bg-info">@Html.DisplayFor(model => model.Type)</span></dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill me-2"></i> Excluir</button>
                <a asp-action="Index" class="btn btn-secondary ms-2"><i class="bi bi-arrow-left-circle-fill me-2"></i> Voltar para a Lista</a>
            </form>
        </div>
    </div>
</div>